<div class="videoo p-2" *ngIf="channelData">
    <div class="vid_thumbainl" [style.background-image]="channelData.photo ?  'url(' +channelData.photo+ ')' :  'url(./assets/images/resources/ch1.jpg)' ">
    </div>
    <!--vid_thumbnail end-->
    <div class="video_info p-0">
        <h3>
            <a href="javascript:void(0)" title="" [routerLink]="['/channel', channelData.username]">{{ channelData.username }}</a>
        </h3>
        <span>{{ channelData.events_count }} Events</span>
    </div>
</div>