.error-page {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .error-content {
        max-width: 90%;
        width: 400px;
    }
    .error-code {
        font-size: 40px;
        font-weight: bolder;
    }
    .error-message {
        font-size: 20px;
    }
}