<ion-content>
    <div style="min-height: calc(100vh - 212px);">
        <section class="form_popup">
            <div class="user-account-pr">
                <div class="hd-lg">
                    <span>{{ 'change_password_page.welcome_heading' | translate }}</span>
                </div>
                <form [formGroup]="form" (submit)="submitForm()">
                    <div class="mb-3">
                        <label class="mb-2">{{ 'change_password_page.input_labels.new_password' | translate }}</label>
                        <input type="password" class="form-control" formControlName="new_password" placeholder="{{ 'change_password_page.input_labels.new_password' | translate }}">
                        <div *ngIf="formControls.new_password.invalid" class="text-danger">
                            <div *ngIf="formControls.new_password.errors.server">{{formControls.new_password.errors.server}}</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="mb-2">{{ 'change_password_page.input_labels.confirm_password' | translate }}</label>
                        <input type="password" class="form-control" formControlName="confirm_password" placeholder="{{ 'change_password_page.input_labels.confirm_password' | translate }}">
                        <div *ngIf="formControls.confirm_password.invalid" class="text-danger">
                            <div *ngIf="formControls.confirm_password.errors.server">{{formControls.confirm_password.errors.server}}</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="mb-2">{{ 'change_password_page.input_labels.password' | translate }}</label>
                        <input type="password" class="form-control" formControlName="password" placeholder="{{ 'change_password_page.input_labels.password' | translate }}">
                        <div *ngIf="formControls.password.invalid" class="text-danger">
                            <div *ngIf="formControls.password.errors.server">{{ formControls.password.errors.server }}</div>
                        </div>
                    </div>
                    <div class="input-sec mb-0">
                        <button type="submit">{{ 'update_btn' | translate }}</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</ion-content>