<ion-content>
    <section class="form_popup">
        <div class="user-account-pr">
            <form>
                <div class="hd-lg mb-5" *ngIf="app.websiteSettings">
                    <img [src]="app.websiteSettings.logo" alt="">
                    <span>{{ 'login.forgot_pass.heading' | translate }}</span>
                    <p>{{ 'login.forgot_pass.instruction' | translate }}</p>
                </div>
                <div class="input-sec">
                    <!-- <label>{{ 'login.input_labels.email' | translate }}</label> -->
                    <input type="email" class="form-control" #forgotEmail placeholder="{{ 'login.input_labels.email' | translate }}">
                    <div #forgotPassMsg></div>
                </div>
                <div class="mt-4 d-grid">
                    <button type="button" class="btn-theme" (click)="resetPassword(forgotEmail, forgotPassMsg)">{{ 'send_password_btn' | translate }}</button>
                </div>
                <div class="fr-ps">
                    <h1> <a href="javascript:void(0)" class="show_signup" [routerLink]="['/login']">{{ 'login.back_to_login' | translate }}</a>
                    </h1>
                </div>
            </form>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>