<div id="app">
    <div class="header">
      <div class="left-info">
        <div class="thumbnail">
          <img src="https://avatarfiles.alphacoders.com/131/131892.jpg" alt>
        </div>
        <div class="name-info">
          <div class="name">
            <a href="">Bruce Wayne</a>
          </div>
          <div class="time">
            4月1日下午4:01・
            <i class="global-icon"></i>
          </div>
        </div>
      </div>
      <div class="right-info"></div>
    </div>
  
    <div class="content">WHY SO SERIOUS?</div>
    <a class="video-link" href="https://youtu.be/UnjzmmK7TaY" target="_blank">
      <div class="video-wrapper">
        <div class="video-thumbnail">
          <img src="https://img.shop.com/Image/250000/257700/257781/products/1545411058__400x400__.jpg" alt="">
        </div>
        <div class="video-info">
          <div class="youtube-title">YOUTUBE.COM</div>
          <div class="video-title">Joker【Let's Play a Game】- Official Video</div>
          <div class="video-desc">"Do I really look like a guy with a plan? You know what I am? I'm a dog chasing cars. I wouldn't know what to do with one if I caught it! You know, I just...DO things."</div>
        </div>
      </div>
    </a>
  
    <div class="feedback-info">
      <div class="feedback-emojis">
        <i class="icons laugh-icon"></i>
        <i class="icons angry-icon"></i>
        <i class="icons wow-icon"></i>
        Tony Stark, Logan and 9487 others
      </div>
      <div class="threads-and-share">
        <div class="threads"> 15 comments</div>
      </div>
    </div>
  
    <div class="feedback-action">
      <div class="fb-wrapper">
        <i class="fb-icon thumb-up far fa-thumbs-up"></i>Like
      </div>
      <div class="fb-wrapper">
        <i class="fb-icon response far fa-comment-alt"></i>Comment
      </div>
      <div class="fb-wrapper">
        <i class="fb-icon share"></i>Share
      </div>
    </div>
  
    <div class="comments">
      <div class="my-comment-wrapper">
        <div class="my-avatar">
          <img src="https://avatarfiles.alphacoders.com/813/81320.jpg" alt>
        </div>
        <div class="my-comment">
          <div class="my-comment-placeholder">
            <input type="text" placeholder="Write a comment...">
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="people-comment-wrapper">
          <div class="people-avatar">
            <img src="https://i1.sndcdn.com/avatars-000472635192-bk5zvc-t500x500.jpg" alt>
          </div>
          <div class="people-comment">
            <div class="people-comment-container">
              <div class="people-name">
                <a href="https://www.facebook.com/Thanos-66479565036/">Thanos</a>
                <i class="blue-check"></i>
              </div>
              <div class="people-saying">You're not the only one cursed with knowledge.</div>
            </div>
            <div class="comment-reactions">
              <i class="icons like-icon"></i>
              <span class="number">87</span>
            </div>
          </div>
        </div>
        <div class="like-and-response-wrapper">
          <div class="like-comment">
            <a>Like</a>
            <span class="tiny-dot">・</span>
          </div>
          <div class="day-comment">4 Days</div>
        </div>
      </div>
      <div class="wrapper">
        <div class="people-comment-wrapper">
          <div class="people-avatar">
            <img src="https://avatarfiles.alphacoders.com/123/thumb-123732.jpg" alt>
          </div>
          <div class="people-comment">
            <div class="people-comment-container">
              <div class="people-name">
                <a href="https://www.facebook.com/Thanos-66479565036/">Logan</a>
                <i class="blue-check"></i>
              </div>
              <div class="people-saying">Bad shit happens to people I care about.</div>
              <div class="people-sharing">
                <img src="https://i.ytimg.com/vi/X2Z3aBA9AZE/maxresdefault.jpg" alt="">
              </div>
            </div>
            <div class="comment-reactions">
              <i class="icons like-icon"></i>
              <span class="number">948</span>
            </div>
          </div>
        </div>
        <div class="like-and-response-wrapper">
          <div class="like-comment">
            <a>Like</a>
            <span class="tiny-dot">・</span>
          </div>
          <div class="day-comment">5 Days</div>
        </div>
      </div>
    </div>
  </div>