<div id="app">
    <div class="header">
      <div class="left-info">
        <div class="thumbnail">
          <img src="{{userData.photo}}" alt>
        </div>
        <div class="name-info">
          <div class="name">
            <a href="">{{userData.full_name}}</a>
          </div>
          <div class="time">
            {{postDate}} <i class="global-icon"></i>
          </div>
        </div>
      </div>
      <div class="right-info"></div>
    </div>
  
    <div class="title"><b>{{postData.title}}</b></div>
    <div class="content">{{postData.content}}</div>
    <div class="people-sharing">
      <img src="{{postData.post_media}}" alt="">
    </div>
  
    <div class="feedback-info">
      <div class="feedback-emojis" *ngIf="postData.likes.length">
        <!-- <i class="icons laugh-icon"></i>
        <i class="icons angry-icon"></i>
        <i class="icons wow-icon"></i> -->
        <i class="icons like-icon"></i>
        {{postData.likes.length}} likes
      </div>
      <div class="threads-and-share" *ngIf="postData.comments.length">
        <div class="threads"> {{postData.comments.length}} comments</div>
      </div>
    </div>
  
    <div class="feedback-action">
      <div class="fb-wrapper" (click)="like_post(postData.post_id)">
        <i class="fb-icon thumb-up far fa-thumbs-up"></i>Like
      </div>
      <div class="fb-wrapper">
        <i class="fb-icon response far fa-comment-alt"></i>Comment
      </div>
      <div class="fb-wrapper">
        <i class="fb-icon share"></i>Share
      </div>
    </div>
  
    <div class="comments">
      <div class="my-comment-wrapper">
        <div class="my-avatar">
          <img src="{{app.userinfo.photo}}" alt>
        </div>
        <div class="my-comment">
          <div class="my-comment-placeholder d-flex">
            <input type="text" placeholder="Write a comment..." #comment>
            <i class="bi bi-send" (click)="comment_post(postData.post_id,comment)"></i>
          </div>
        </div>
      </div>
      <div class="wrapper" *ngFor="let comment of postData.comments">
        <div class="people-comment-wrapper">
          <div class="people-avatar">
            <img src="{{comment.user.photo}}" alt>
          </div>
          <div class="people-comment">
            <div class="people-comment-container">
              <div class="people-name">
                <a href="/channel/{{comment.user.username}}">{{comment.user.full_name}}</a>
              </div>
              <div class="people-saying">{{comment.comment_content}}</div>
            </div>
           
          </div>
        </div>
        <div class="like-and-response-wrapper">
          <!-- <div class="day-comment">4 Days</div> -->
        </div>
      </div>
    </div>
  </div>