.chat-container {
    background: #eeecec;
}

.chat-messages {
    height: 450px;
    overflow: auto;
    padding: 15px;

    .chat-message-block * {
        word-break: break-all;
    }
}

.chat-message-block {
    color: #444;
    margin-bottom: 10px;
}


.chat-input-block {
    border-top: 1px solid #d0d0d0;
    padding: 15px;
    display: flex;
    min-height: 70px;
    max-height: 130px;

    .chat-input {
        width: calc(100% - 100px);
        // height: 40px;
        // min-height: 40px;
        max-height: 100px;
        padding: 10px 0;
        background: transparent;
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid;
        margin: 0 10px;
        overflow: scroll;
    }

    #chat-input-div {
        &:focus-visible {
            outline: none;
        }
    }
}

.chat-box-header {
    padding: 15px;
    border-bottom: 1px solid #d0d0d0;
}

.videos-section {
    position: relative;
    text-align: center;

    .performer-video {
        // max-width: 640px;
        // max-height: 480px;
        margin: auto;
        background-color: #000;
    }

    .guest-videos-wrapper {
        // width: 90%;
        max-width: 640px;
        margin: auto;

        .guest-video-player {
            background-color: #000;
            color: #fff;
        }
    }
}

.live-users {
    position: absolute;
    top: 0;
    right: 0;
    background: #88192b;
    z-index: 99;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}

.user-icon {
    min-width: 30px;
    border-radius: 50%;
    overflow: hidden;
    height: 30px;
    width: 30px;
}

.live-stream-placeholder {
    height: 575px;
    background-size: cover;
    background-position: center;
}

.live-stream-placeholder>div {
    width: 100%;
    height: 100%;
    background: #00000091;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}