<ion-content>
    <!-- <section class="banner-section p120">
        <div class="container">
            <div class="banner-text">
                <h2>{{ 'register.page_title' | translate }}</h2>
                <p>{{ 'register.welcome_heading' | translate }}</p>
            </div>
        </div>
    </section> -->
    <section class="form_popup">
        <div class="hd-lg">
            <span class="mb-3">{{ 'register.welcome_heading' | translate }}</span>
            <img [src]="app.websiteSettings.logo" alt="">
        </div>
        <div class="user-account-pr">

            <form [formGroup]="form" (ngSubmit)="submitForm()">
                <div class="input-sec">
                    <!-- <label>{{ 'register.input_labels.email' | translate }}</label> -->
                    <input type="email" class="form-control" formControlName="email" placeholder="{{ 'register.input_labels.email' | translate }}">
                    <div *ngIf="formControls.email.invalid" class="text-danger">
                        <div *ngIf="formControls.email.errors.server">{{formControls.email.errors.server}}</div>
                    </div>
                </div>
                <div class="input-sec">
                    <!-- <label>{{ 'register.input_labels.confirm_email' | translate }}</label> -->
                    <input type="email" class="form-control" formControlName="confirm_email" placeholder="{{ 'register.input_labels.confirm_email' | translate }}">
                    <div *ngIf="formControls.confirm_email.invalid" class="text-danger">
                        <div *ngIf="formControls.confirm_email.errors.server">{{formControls.confirm_email.errors.server}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-sec col-sm-6">
                        <!-- <label>{{ 'register.input_labels.first_name' | translate }}</label> -->
                        <input type="text" class="form-control" formControlName="first_name" placeholder="{{ 'register.input_labels.first_name' | translate }}">
                        <div *ngIf="formControls.first_name.invalid" class="text-danger">
                            <div *ngIf="formControls.first_name.errors.server">{{formControls.first_name.errors.server}}</div>
                        </div>
                    </div>
                    <div class="input-sec col-sm-6">
                        <!-- <label>{{ 'register.input_labels.last_name' | translate }}</label> -->
                        <input type="text" class="form-control" formControlName="last_name" placeholder="{{ 'register.input_labels.last_name' | translate }}">
                        <div *ngIf="formControls.last_name.invalid" class="text-danger">
                            <div *ngIf="formControls.last_name.errors.server">{{formControls.last_name.errors.server}}</div>
                        </div>
                    </div>
                </div>
                <div class="input-sec">
                    <!-- <label>{{ 'register.input_labels.password' | translate }}</label> -->
                    <input type="password" class="form-control" formControlName="password" placeholder="{{ 'register.input_labels.password' | translate }}">
                    <div *ngIf="formControls.password.invalid" class="text-danger">
                        <div *ngIf="formControls.password.errors.server">{{formControls.password.errors.server}}</div>
                    </div>
                </div>
                <div class="input-sec mb-0">
                    <button class="btn-theme" type="submit">{{ 'sign_up_btn' | translate }}</button>
                </div>
            </form>
            <div class="signup-divider">
                <span>OR</span>
            </div>
            <div class="social-icons text-center d-flex">
                <button class="btn btn-facebook mx-2 m-0 w-50" (click)="signinWithFacebook()">
                    <i class="bi bi-facebook"></i> &nbsp;Facebook
                    <!-- <ng-template #facebookScriptLoader>
                        <ion-spinner class="ms-2" name="dots"></ion-spinner>
                    </ng-template> -->
                </button>
                <button class="btn btn-google mx-2 m-0 w-50" (click)="signinWithGoogle()">
                    <i class="bi bi-google"></i> &nbsp;Google
                    <!-- <ng-template #googleScriptLoader>
                        <ion-spinner class="ms-2" name="dots"></ion-spinner>
                    </ng-template> -->
                </button>
                <!-- <ion-button class="btn btn-outline-primary mx-2" (click)="signinWithTwitter()"><i class="fab fa-twitter"></i></ion-button> -->
            </div>
            <div class="fr-ps">
                <h1>
                    {{ 'register.already_have_account' | translate }} &nbsp;<a href="javascript:void(0)" class="show_signup" [routerLink]="['/login']">{{ 'sign_in_btn' | translate }}</a>
                </h1>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</ion-content>