<ion-content>
  <div style="min-height: calc(100vh - 212px)">
    <div class="container pt-5">
      <div class="row">
        <div class="col-sm-12">
          <div class="main-title">
            <h3 class="mb-3">
              {{ 'block_list_page.breadcrumb_title' | translate }}
            </h3>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="bg-dark text-white">
                <tr>
                  <th class="">{{ 'block_list_page.email' | translate }}</th>
                  <th>{{ 'block_list_page.username' | translate }}</th>
                  <th>{{ 'block_list_page.role' | translate }}</th>
                  <!-- <th class="text-center">
                    {{ 'block_list_page.action' | translate }}
                  </th> -->
                </tr>
              </thead>
              <tbody *ngIf="Friendlist.length > 0">
                <tr *ngFor="let friend of Friendlist" >
                  <td class="align-middle">{{ friend.email }}</td>
                  <td class="align-middle">{{ friend.username }}</td>
                  <td class="align-middle">{{ friend.role_label}}</td>
                  <!-- <td class="align-middle text-center acceptbutton">
                    <a
                      href="javascript:void(0)"
                      title=""
                      [routerLink]="['/inbox', friend.id]"
                      class="donate add_friend_button"
                    
                    >
                      {{ 'block_list_page.message' | translate }}</a
                    >
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
